* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#929982;
    font-family: Lato, sans-serif;
}
p {
    font-family: Lato;
    color: white;
    padding: 1em;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: Garamond, bold;
    font-size: 22px;
}
nav a {
    text-align: left;
    color: RoyalBlue;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #396E94;
    color: white;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav li a {
    color: royalblue;
    text-decoration: underline;
}
.logo {
    width: 200px;
}
footer {
    grid-row: 5;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #929982;
    color: #023B22;
    text-align: center;
    padding: 20px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: RoyalBlue
}
footer p {
    font-size: 22px;
}    
footer p a:hover {
    text-decoration: underline;
}
header {
    font-family: "Garamond";
    background-color:#023B22;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
.sg-fort1-img {
    max-width: auto;
    height: 300px;
    background-color: #929982
}
.sg_fort1.jpg {
    max-width: auto;
    height: 350px;
}
.sg-group-img {
    max-width: auto;
    height: 350px;
}
.winners-img {
    max-width: auto;
    height: 350px;
}
.dec2022-camp-img {
    max-width: auto;
    height: 350px;
}
.paintball-marker-img {
    max-width: auto;
    height: 400px;
}
.sg-fort1, .dec2022-camp, .paintball-marker {
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-msg, #paintguns-msg, #paintball-marker-msg {
    padding: 20px;
    background-color: royalblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.sg-fort1 {
    grid-column: 1;
    grid-row: 1;
}
#intro-msg {
    grid-column: 2;
    grid-row: 1;
}
#paintguns-msg {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
}
.dec2022-camp-img {
    grid-column: 2;
    grid-row: 2;
}
.paintball-marker {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
    padding: 20px;
}
.paintball-marker-img {
    max-width: 100%;
}
#paintball-marker-msg {
    padding: 20px;
}
#paintguns-msg {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .sg-fort1, .paintball-marker, .dec2022-camp { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}